<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/bootstrap-4.4.1/css/bootstrap.css">
    <script src="/static/jQuery/jquery-3.5.1.min.js"></script>
    <script src="/static/plugins/popper.min.js"></script>
    <script src="/static/bootstrap-4.4.1/js/bootstrap.js"></script>
    <title>Homepage</title>
</head>
<body>

<div class="container-fluid">
    <div class="container">
<!--        KEY:-->
<!--        <div class="row">-->
<!--            <div class="container">-->
<!--                <div class="btn-group">-->
<!--                    <button type="button" class="btn btn-secondary btn_flatOrSharp" value="0" id="btn_origin"-->
<!--                            onclick="setflatOrSharp($(this))">Origin-->
<!--                    </button>-->
<!--                    <button type="button" class="btn btn-secondary btn_flatOrSharp" value="1" id="btn_#"-->
<!--                            onclick="setflatOrSharp($(this))">#-->
<!--                    </button>-->
<!--                    <button type="button" class="btn btn-secondary btn_flatOrSharp" value="-1" id="btn_b"-->
<!--                            onclick="setflatOrSharp($(this))">b-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="row">
            KEY:
            <div class="container">
                <div class="btn-group">
                    <button type="button" class="btn btn_keys btn-secondary" id="btn_keyC" value="3" onclick="setKey($(this))">C</button>
                    <button type="button" class="btn btn_keys btn-secondary" value="4" onclick="setKey($(this))">#C</button>
                    <button type="button" class="btn btn_keys btn-secondary" value="5" onclick="setKey($(this))">D</button>
                    <button type="button" class="btn btn_keys btn-secondary" value="6" onclick="setKey($(this))">#D</button>
                    <button type="button" class="btn btn_keys btn-secondary" value="7" onclick="setKey($(this))">E</button>
                    <button type="button" class="btn btn_keys btn-secondary" value="8" onclick="setKey($(this))">F</button>
                    <button type="button" class="btn btn_keys btn-secondary" value="9" onclick="setKey($(this))">#F</button>
                    <button type="button" class="btn btn_keys btn-secondary" value="10" onclick="setKey($(this))">G</button>
                    <button type="button" class="btn btn_keys btn-secondary" value="11" onclick="setKey($(this))">#G</button>
                    <button type="button" class="btn btn_keys btn-secondary" value="0" onclick="setKey($(this))">A</button>
                    <button type="button" class="btn btn_keys btn-secondary" value="1" onclick="setKey($(this))">#A</button>
                    <button type="button" class="btn btn_keys btn-secondary" value="2" onclick="setKey($(this))">B</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-bottom: 10px;">
        Chord Progression:
        <input class='form-control input-lg' id="chordProgression">
    </div>
    <div class="row">
        <div class="container">
            <button type="button" class="btn btn-warning" onclick="showResult()">GO!</button>
            <button type="button" class="btn btn-warning" onclick="flat()">FLAT</button>
            <button type="button" class="btn btn-warning" onclick="sharp()">SHARP</button>
        </div>
    </div>
    <div class="container">
        Chords Playing:
        <input class='form-control input-lg' id="chordsList">
    </div>
    <div class="container">
        Pitches in the Chords:
        <input class='form-control input-lg' id="pitchesList">
    </div>
</div>




</body>
</html>

<script type="application/javascript">
    var flatOrSharp = 0;
    var key;

    $(function(){
        $("#btn_origin").click();
        $("#btn_keyC").click();
    });

    function showResult() {
        calcChords();
    }


    function setKey(obj) {
        $(".btn_keys").removeClass("btn-primary");
        $(".btn_keys").addClass("btn-secondary")
        obj.removeClass("btn-secondary");
        obj.addClass("btn-primary");
        key = obj.val();
    }

    function flat() {
        var flatKey = parseInt(key) - 1;
        if (flatKey < 0) {
            flatKey = flatKey + 12;
        }
        $("button[class*='btn_keys'][value=" + flatKey + "]").click();
        calcChords();
    }

    function sharp() {
        var sharpKey = parseInt(key) + 1;
        if (sharpKey > 11) {
            sharpKey = sharpKey - 12;
        }
        $("button[class*='btn_keys'][value=" + sharpKey + "]").click();
        calcChords();
    }

    function refreshButton() {
        $("button[class='btn_flatOrSharp'][value=" + flatOrSharp).addClass("btn-primary");
        $("button[class='btn_keys'][value=" + flatOrSharp).addClass("btn-primary");
    }

    function calcChords() {
        if($("#chordProgression").val() == "") {
            return;
        }
        $.ajax({
            type: "POST",
            contentType: "application/x-www-form-urlencoded;charset=UTF-8",
            url: "/toneConverterController/calcChords",
            data: {
                key: key,
                chordProgression: $("#chordProgression").val(),
                flatOrSharp: flatOrSharp
            },
            success: function (result) {
                var chords = ""
                for(var i in result) {
                    chords += result[i];
                    chords += " ";
                }
                $("#chordsList").val(chords);
            },
            error: function (e) {
                console.log(e.status);
                console.log(e.responseText);
            }
        });
    }
</script>